body{
    background-color: wheat;
    margin: 10px;
}

.container{
    margin: 10%;
    background-color: lightcyan;
    padding: 20px;
    font-family: sans-serif;
    border-radius: 15px;
    outline: solid red;
}

label{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

input{
    width: 99%;
    padding: 7px;
    margin-bottom: 10px;
}

button{
    padding: 7px;
    margin-top: 10px;
}

#resultadoh{
    text-align: center;
    margin: 5px;
    font-weight: bold;
    color: blue;
}

#resultadom{
    text-align: center;
    margin: 5px;
    font-weight: bold;
    color: rgb(241, 20, 94);
}